.navBar {
  background-color: rgb(175, 216, 251);
  opacity: 0.6;
  background-image: linear-gradient(
    to bottom,
    rgb(175, 216, 251),
    rgb(243, 216, 253),
    white
  );
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
}

#benfordAppLogo {
  display: flex;
  height: 75%;
}

.navBtns {
  background: lightblue;
  position: absolute;
  display: flex;
  align-self: center;
  right: 20px;
}

.navBtn {
  background: lightblue;
  border-radius: 9px;
}
.navBtn:hover {
  background: royalblue;
  cursor: pointer;
}

#benfordChartandDescLandingPage {
  position: relative;
  top: 50px;
  left: 0px;
  margin: 50px;
}

#fullLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fullSignupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nonNavBtn {
  background: gainsboro;
  border-radius: 9px;
}
.nonNavBtn:hover {
  background: rgb(145, 147, 153);
  cursor: pointer;
}

#companyAndDateFormSubmitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#companyAndDateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#outputResultsText {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
